<div class="container">
    <div class="row">
        <h2 class="text-center text-primary">Home</h2>
        <div class="col-2"></div>
        <div class="text-center col-8">
            <p class="lead">School management system for complete school activities.</p>
            <p>This is a tool to manage all the educational and administrative tasks without any
                hassle. It enables schools to digitally manage and monitor daily school activities on a single platform.
            </p>

            <p>This software can automate and optimize teacher workload, helps schools to simplify enrollment
                processing,
                and enables teachers to monitor student’s academic progress.</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>