<div class="row justify-content-center">
    <div class="col-md-5">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" autocomplete="off">
            <h2 class="text-center text-primary">Change password</h2>

            <app-text-input [formControl]="$any(changePasswordForm.controls['currentPassword'])"
                [label]="'Current password'" [type]="'password'"></app-text-input>
            <app-text-input [formControl]="$any(changePasswordForm.controls['newPassword'])" [label]="'New password'"
                [type]="'password'"></app-text-input>
            <app-text-input [formControl]="$any(changePasswordForm.controls['confirmPassword'])"
                [label]="'Confirm password'" [type]="'password'"></app-text-input>

            <div class="row" *ngIf="validationErrors">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>

            <div class="text-center">
                <button [disabled]="!changePasswordForm.valid" class="btn btn-success me-2" type="submit">Change
                    password</button>
            </div>
        </form>
    </div>
</div>