<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-start text-primary">Office address</h2>
            <p>
                Kingdom of Bright Learning English High School <br>
                Samarth Nagar, Rameshwadi, Kulgaon, <br>
                Badlapur (W) – 421 503 Maharashtra. <br>
            </p>
        </div>

        <div class="col-lg-6">
            <h2 class="text-start text-primary">Office timings</h2>
            <p><strong>
                    Monday to Friday : 9.30 AM to 2.30 PM <br>
                    Saturday : 9.00 AM to 11.30 AM <br>
                    Lunch Break : 1.30 PM to 2.00 PM
                </strong></p>
        </div>
    </div>
    <br>
    <div class="row">
        <p>
            <i class="fa fa-phone" aria-hidden="true"></i> +91 80879 25771 <br>
            <i class="fa fa-phone" aria-hidden="true"></i> +91 80879 25771 <br>
            <i class="fa fa-envelope" aria-hidden="true"></i> kblschool2004@gmail.com <br>
        </p>
    </div>
</div>

<!-- 
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="fname">First Name</label>
            <input type="text" id="fname" class="form-control form-control-lg">
        </div>
        <div class="col-md-6 form-group">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" class="form-control form-control-lg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="eaddress">Email Address</label>
            <input type="text" id="eaddress" class="form-control form-control-lg">
        </div>
        <div class="col-md-6 form-group">
            <label for="tel">Tel. Number</label>
            <input type="text" id="tel" class="form-control form-control-lg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="message">Message</label>
            <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <input type="submit" value="Send Message" class="btn btn-primary btn-lg px-5">
        </div>
    </div> -->