<div class="container">
    <!-- <h2 class="text-center text-primary">Teachers</h2> -->
    <div class="row">
        <div class="col-lg-4">
            <img src="./assets/images/person_4.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-8 mt-2">
            <p>KBL English High School takes great pride in its teachers, who are the backbone of the school's
                success. The
                teachers at KBL English High School are highly qualified, experienced, and dedicated individuals
                who are
                committed to providing the best possible education to their students.</p>

            <p>At KBL English High School, the teachers not only focus on academic excellence but also on the
                overall
                development of their students. They understand that education is not just about textbooks and
                exams, but also
                about developing a student's personality, character, and values.</p>

            <p>The teachers at KBL English High School are passionate about their subjects and use innovative
                teaching methods
                to ensure that the students understand the concepts and can apply them in real-life situations.
                They create a
                positive and nurturing environment in the classroom, which encourages the students to
                participate, ask
                questions, and express their ideas freely.</p>

            <p>Apart from their teaching responsibilities, the teachers at KBL English High School also take an
                active interest
                in the extracurricular activities of the school. They organize various events and competitions,
                such as debates,
                quizzes, sports, and cultural programs, to help the students develop their skills and talents.
            </p>

            <p>The teachers at KBL English High School are not just mentors and guides; they are also role
                models for their
                students. They inspire the students to aim high, work hard, and achieve their dreams. They
                instill values such
                as honesty, integrity, and respect in their students and help them become responsible and
                contributing members
                of society.</p>

            <p>In summary, the teachers at KBL English High School are an exceptional group of individuals who
                are committed to
                providing the best possible education to their students. They are dedicated, passionate, and
                inspiring, and they
                play a critical role in shaping the future of their students.</p>
        </div>
    </div>
</div>